.div1{
	width: 100%;
	height: auto;
}
.div2{
	height: auto;
	background: #fff;
	margin-top: 20px;
}
.div3{
	border: 1px solid #fff;
}
.div4{
	height: 60px;
	background: #fff;
}
.div5{
	line-height: 60px;
	color: green;
	font-size: 30px;
	padding-left: 25px;
}
.div6{
	line-height: 60px;
	font-size: 16px
}
.div6>span{
	color: red;
	padding-left: 10px;
	padding-right: 10px;
}
.div>a{
	color: yellow;
}